#menuBG {
    width: 650px;
    height: 700px;
    margin: 1px auto;
    color: rgb(122, 180, 182);
    background-color: rgb(73, 97, 49);
    border-radius: 10px;
    text-align: left;
}

h1{
    text-align: center;
    margin: 0px 0px 15px 0px;
}

h3{
    text-align: left;
    margin: 10px 10px 10px 15px;
    font: bold;
}

#frmMenu {
    width: 650px;
    height: 200px;
    
}

#totalPrice {
    width: 200px;
    height: 190;
    margin: 0 auto;
    float: right;
}

.left {
    width: 300px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 150px;
    height: 200px;
    float: right;
}

#showText {
    width: 800px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0; margin: 0px auto;
    width: 500px;
    height: 200px;
}

#btnOrder {
    margin: 11px 20px 20px 245px;
    width: 160px;
    height: 40px;
    color: rgb(8, 114, 8);
    border-radius: 11px;
}
